body {
	background-color: black;
	width: 100%;
	background-attachment:fixed;
    background-size: 100% auto;
	height: 100%;
	width: 100%;
}
.logo
{
	padding-top: 100%;
}
.adminmenu
{
    height: 100%;
}
.menu
{
    width:100%; padding: 8px 0;
    height:1000px;
}
.fileupload {
    width: 100px;
    height: 50px;
    position: relative;
    overflow: hidden; /* and other things to make it pretty */
}

.fileupload input {
    position: absolute;
    top: 0;
    right: 0; /* not left, because only the right part of the input seems to
                 be clickable in some browser I can't remember */
    cursor: pointer;
    opacity: 0.0;
    filter: alpha(opacity=0); /* and all the other old opacity stuff you
                                 want to support */
    font-size: 300px; /* wtf, but apparently the most reliable way to make
                         a large part of the input clickable in most browsers */
    height: 200px;
}

.CodeMirror
{
    height: auto;
    font-size: 11px;
}