{% extends "admin-base.html" %}
{% block content %}
{% for article in news %}
<div class="panel panel-blog-content panel-blue container-fluid">
                                <div class="panel-body">
                                    <form class="form-group">
                                        <div class="form-group">
                                            <input name="name" type="text" class="form-control" placeholder="Название поста" required value="{{ article.name }}">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="content" required>{{ article.body|safe }}</textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default pull-left">Удалить</button>
                                            <button type="submit" class="btn btn-default pull-right">Изменить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
            {% endfor %}
{% endblock %}