<!DOCTYPE html>
<html>
<head lang="en">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/AdminStyle.css">
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <script src="../static/js/jquery-1.11.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<div clas="container">
    <div class="col-md-2 adminmenu">
        <div class="sidebar-nav">
            <div class="well menu">
                <ul class="nav nav-list">
                    <li class="nav-header"><a href="{{ url_for('admin.admin_index') }}" class="text-center">Admin Menu</a></li>
                {% block buttons %}
                {% endblock %}
                <img class="logo" width="100%" src="http://flask.pocoo.org/static/logo/flask.png" />
            </div>
        </div>
    </div>
    {% block content %}
        <div class="col-md-2">
            <form class="add-email">
                <div class="thumbnail text-center">
                    <div class="overlay-container">
                        <div class="form-group">
                            {{ admin_form.hidden_tag() }}
                            {{ admin_form.email(class="form-control", placeholder='Email only Google') }}
                            <br><div class="btn btn-success" onclick="AddEmail()">Add Admin</div>
                        </div>
                    </div>
                </div>
            </form>
            {% for admin in admins %}
                <div class="thumbnail text-center" id="{{ admin.key() }}">
                    <div class="overlay-container">
                        <p>Admin Email: {{ admin.email }}</p>
                        <div class="overlay-content">
                            <br><div class="btn btn-danger" onclick="DeleteByKey('{{ admin.key() }}')">Delete EMail</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</div>
{% block scripts %}
    <script>
        function AddEmail()
        {
            var data = new FormData($('.add-email')[0]);
            $.ajax({
                type: "POST",
                url: "add_admin",
                data: data,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (result){
                    if(result['valid'])
                    {
                        var deleteemail = 'DeleteByKey("'+result['key']+'")';
                        $('.add-email > .form-group').removeClass('has-error');
                        $('#email').val('');
                        var blockemail = "<div class='thumbnail text-center' id='" +result['key'] + "'>" +
                                "<div class=s'overlay-container'><p>Email: "+ result['email']+"</p><div class='overlay-content'><br>" +
                                "<div class='btn btn-danger' onclick='" +deleteemail+ "'>Delete Email" +
                                "</div></div></div></div>";
                        $(".add-email").after(blockemail);
                    }
                    else
                    {
                        $('#email').parent().addClass('has-error');
                    }
                }
            })

        }
        function DeleteByKey(key)
        {
            var url = "/admin/delete_by_key/"+key;
            $.ajax(
                    {
                        url : url,
                        type : "POST",
                        data :{},
                        contentType: false,
                        processData: false,
                        datatype: "JSON",
                        success: function()
                        {
                            document.getElementById(key).remove();
                        }
                    }
            )
        }
    </script>
{% endblock %}
</body>
</html>