<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>Faculty Site</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/static/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/static/assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="/static/assets/css/pages/blog.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/static/assets/css/themes/default.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/static/assets/css/custom.css">
</head>

<body>
<div class="wrapper">
    <!--=== Header ===-->
    <div class="header">
        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="active">
                            <a href="{{ url_for('index') }}" class="dropdown-toggle" data-toggle="dropdown">
                                Новости
                            </a>
                        </li>
                        <!-- End Home -->
                        <!-- Contacts -->
                        {% if groups.count() %}
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Кафедры
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('blog') }}">Все</a></li>
                                {% for g in groups %}
                                <li><a href="{{ url_for('blog', group=g.key().id()) }}" {% if group == g.key().id() %}class="activate"{% endif %}>{{ g.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        <!-- End Contacts -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row blog-page">
            <!-- Left Sidebar -->
            <div class="col-md-9 md-margin-bottom-40">
                <!--Blog Post-->

                {% if paginator.object_list %}
                        {% for blog in paginator.object_list %}
                <div class="row blog blog-medium margin-bottom-40">
                    <div class="col-md-5">
                        <img class="img-responsive" src="/static/assets/img/main/11.jpg" alt="">
                    </div>
                    <div class="col-md-7">
                        <h2>Заголовок {{ blog.name }}</h2>
                        <ul class="list-unstyled list-inline blog-info">
                            <li><i class="fa fa-calendar"></i>Дата написания {{ blog.date.strftime('%H:%M %d.%m.%Y') }}</li>
                            <li><i class="fa fa-tags"></i> Кафедра {{ blog.group.name }}</li>
                        </ul>
                        <p>

                        {{ blog.content|safe }}

                        <p><a class="btn-u btn-u-small" href="{{ url_for('news', id_group=blog.key().id()) }}"><i class="fa fa-location-arrow"></i> Читать больше</a>
                        </p>
                    </div>
                </div>
                <!--End Blog Post-->

                <hr class="margin-bottom-40">
                        {% endfor %}
                {% endif %}

                <!--End Blog Post-->

                <!--Pagination-->
                {% if paginator.has_previous() or paginator.has_next() %}
                    <div class="text-center">
                        <ul class="pagination">
                            {% if paginator.has_previous() %}
                                <li><a href="{{ url_for('blog', page=paginator.previous_page_number(), group=group) }}">«</a></li>
                            {% else %}
                                <span class="page-nulled">Previous</span>
                            {% endif %}
                            <span class="current" id="pagenum" title="{{ paginator.number }}">&nbsp;&nbsp;&nbsp;Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}&nbsp;&nbsp;&nbsp;</span>
                            {% if paginator.has_next() %}
                                <li><a href="{{ url_for('blog', page=paginator.next_page_number(), group=group) }}">»</a></li>
                            {% else %}
                                <span class="page-nulled">Next</span>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
                <!--End Pagination-->
            </div>
            <!-- End Left Sidebar -->

            <!-- Right Sidebar -->
            <div class="col-md-3">

                <!-- Posts -->
                <div class="posts margin-bottom-40">
                    <div class="headline headline-md"><h2>Главы деканата</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="http://www.kspu.edu/FileDownload.ashx/mini169x242_kuzmich.png?id=6686b370-76a1-4975-93b4-fc182f03e685" alt=""/></a></dt>
                        <dd>
                            <p><a href="#">Кузьмич В. И.</a></p>
                        </dd>
                    </dl>
                </div><!--/posts-->
                <!-- End Posts -->

            </div>
            <!-- End Right Sidebar -->
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Content Part ===-->

    <!--=== Footer ===-->
    <div class="footer" style="position:absolute;bottom:0">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div><!--/footer-->
    <!--=== End Footer ===-->

    <!--=== Copyright ===-->
    <div class="copyright" style="position:absolute;bottom:0;left:0;right:0">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2014 &copy; Unify. ALL Rights Reserved.
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <a href="index.html">
                        <img class="pull-right" id="logo-footer" src="/static/assets/img/logo2-default.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div><!--/copyright-->
    <!--=== End Copyright ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="/static/assets/plugins/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="/static/assets/plugins/back-to-top.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="/static/assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
    });
</script>
<!--[if lt IE 9]>
<script src="assets/plugins/respond.js"></script>
<script src="assets/plugins/html5shiv.js"></script>
<![endif]-->
</body>
</html>